name: Prettier Format

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Prettier
        run: npm install -g prettier

      - name: Run Prettier
        run: prettier --write "**/*.{md,json,yml,yaml}"

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Prettier auto-format"
